body{
  color: #40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather',serif;
}
h1{
  color:#D75281;
  font-size: 562.5%;
  margin-top: 0;
  font-family: 'Sacramento',cursive;
}
h2{
  font-weight: normal;
  color:#FF6B6B;
  font-size: 2.5rem;
  font-family: 'Montserrat',sans-serif;
  padding-bottom: 0.7rem;
}
h3{
  color:#FF6B6B;
  font-family: 'Montserrat',sans-serif;
}
.top-container{
  background-color: #FCE2DB;
  position: relative;
  padding-top:10.67%;
}
a{
  color: #810955;
  font-family: 'Montserrat',sans-serif;
  margin: 0 1rem;
  text-decoration: none;
}
a:hover{
  color: #FFF2F2;
}
.bottom-container{
  background-color: #FCE2DB;
  padding:3rem 0 1rem;
}
.top-cloud{
  position:absolute;
  top:8%;
  right:8%;
}
.bottom-cloud{
  position:absolute;
  bottom:18.75rem;
  left:18.75rem;
}
.footer-link{
  color:#FF6B6B;
}
.skill-row{
  width:40%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}
.address{
  width:70%;
  margin: 0 auto;
}
.intro{
  width: 30%;
  margin:auto;
}
.pro{
  width:25%;
  float: left;
  margin-right: 2rem;
}
.webD{
  width: 25%;
  float: right;
  margin-left: 2rem;
}
hr{
  border: dotted grey 0.375rem;
  border-bottom: 0;
  width: 30%;
  margin:3.5rem auto;
}
p{
  line-height: 2;
}
.contact-message{
  width: 40%;
  margin: 2.5rem auto 3.75rem;
}
.contact-me{
  margin: 0 auto 5rem;
}
.btn {
  background: #ff6363;
  background-image: -webkit-linear-gradient(top, #ff6363, #d19b9b);
  background-image: -moz-linear-gradient(top, #ff6363, #d19b9b);
  background-image: -ms-linear-gradient(top, #ff6363, #d19b9b);
  background-image: -o-linear-gradient(top, #ff6363, #d19b9b);
  background-image: linear-gradient(to bottom, #ff6363, #d19b9b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 1.75rem;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
}

.btn:hover {
  background: #ff957a;
  background-image: -webkit-linear-gradient(top, #ff957a, #9c0039);
  background-image: -moz-linear-gradient(top, #ff957a, #9c0039);
  background-image: -ms-linear-gradient(top, #ff957a, #9c0039);
  background-image: -o-linear-gradient(top, #ff957a, #9c0039);
  background-image: linear-gradient(to bottom, #ff957a, #9c0039);
  text-decoration: none;
}
